html, body {
	margin: 0px; /** Отступы со всех сторон равны 0px **/
	padding: 0px; /** Отступы со всех сторон равны 0px **/
	font-family: Arial, Helvetica, 'sans-serif'; /** Шрифты по умолчанию **/
}



.container {
	width: 1000px;
}

.header-descript {
	background: #000000;
	color: white;
}

.header-descript .header-title {
	margin-top: 10px;
	font-size: 42px;
	text-align: center;
}

.header-descript .header-description {
	font-size: 20px;
	text-align: center;
	font-style: italic;
}

.image-form-container {
	margin-top: 10px;
}
.image-form-container .left-photo {

	height: 300px;
	background-image: url("https://pp.userapi.com/QGICBUzNAnXESmVNsy-lHJWZKUTZvagyX64Jqw/kNkdynJhajg.jpg?ava=1");
	background-position: center;
    background-repeat: no-repeat;
}

.sale {
	background: #000000;
	margin-top: 10px;
	color: white;
}

.sale .title {
	font-size: 28px;
	text-align: center;
}

.triggers {
	margin-top: 10px;
}

.triggers .triggers-title {
	font-size: 24px;
	text-align: center;
}

.trigger, .response {
	text-align: center;
	height: 80px;
	border: 1px solid #eee;
}

.footer {
	margin-top: 10px;
	height: 50px;
	text-align: center;
	background: #000000;

}

.glyphicon-phone, .glyphicon-send, .glyphicon-globe, .glyphicon-time {
	font-size: 40px;
	text-align: center;
	margin-top: 10;
}








